$transparent: transparent;
$brand-gray-light: #a1a1a1;
$brand-gray: #434343;
$brand-gray-dark: #292c2f;

$gray-dark: $brand-gray-dark;
$gray: $brand-gray !default;
$gray-light: $brand-gray-light;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             #659fa6 !default;
$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;

$white: #fff;
$color1: #1a3140;
$color2: #659fa6;
$color3: #f2d6a2;
$color3b: rgba(242, 214, 162, .5);
$color4: #f2786d;
$color5: #d9304f;

// Body
$body-bg: $white;
$body-color: $brand-gray;

// $hero-frame-background-color: #b6d7a8;
$hero-frame-background-color: $white;

$hero-frame-action-background-color: $color3b;
$hero-frame-action-card-header-background-color: $color3;
$hero-frame-action-card-header-border-color: $white;

$hero-frame-action-button-border-color: $color2;
$hero-frame-action-button-color: $color1;
$hero-frame-action-button-background-color: $color2;

$hero-frame-card-header-color: $brand-gray;

$hero-sub-background-color: $brand-gray;
$hero-sub-border-color: #aaa;

$reinforce-statement-color: $white;
$reinforce-statement-background-color: $color1;
$reinforce-statement-border-color: #333;

$closing-statement-border-bottom-color: #666;

$bullet-color: #fff;
$bullet-background-color: #aaa;

$carousel-indicator-border-color: $brand-gray;
$carousel-indicator-background-color: transparent;
$carousel-indicator-active-background-color:$white;

$fa-icon-color: $white;
$fa-icon-background-color: #33383b;

$header-link-color: $brand-gray;

// $hero-frame-background-color: #b6d7a8;

// $hero-frame-action-background-color: #f9cb9c;
// $hero-frame-action-card-header-background-color: #ff9c00;

// $hero-sub-background-color: #94c67b;
// $hero-sub-border-color: #aaa;

// $reinforce-statement-color: #EEE;
// $reinforce-statement-background-color: #555;
// $reinforce-statement-border-color: #333;

// $closing-statement-border-bottom-color: #666;

// $bullet-color: #fff;
// $bullet-background-color: #aaa;

// $carousel-indicator-border-color: $brand-gray;
// $carousel-indicator-background-color: transparent;
// $carousel-indicator-active-background-color: #988177;

// $fa-icon-color: $white;
// $fa-icon-background-color: #33383b;

// $header-link-color: $brand-gray;