@media (max-width: #{map-get($grid-breakpoints, xs)}) {
  html {
    font-size:  #{map-get($responsive-font-sizes, xs)};
  }
  .landing-container > div {
    padding: 0;
  }
}
@media (min-width: #{map-get($grid-breakpoints, xs)+1})  and (max-width: #{map-get($grid-breakpoints, sm)}) {
  html {
    font-size:  #{map-get($responsive-font-sizes, xs)};
  }
  .landing-container > div {
    padding: 0 .5rem;
  }
  // Fix for iphone icon problem
  footer .col-xs-1 {
    flex: 0 0 2.1rem;
  }
}
@media (min-width: #{map-get($grid-breakpoints, sm)+1})  and (max-width: #{map-get($grid-breakpoints, md)}) {
  html {
    font-size: #{map-get($responsive-font-sizes, sm)};
  }
  .landing-container > div {
    padding: 0rem;
  }
}
@media (min-width: #{map-get($grid-breakpoints, md)+1})  and (max-width: #{map-get($grid-breakpoints, lg)}) {
  html {
    font-size: #{map-get($responsive-font-sizes, md)};
  }
  .landing-container > div {
    padding: 0 2rem;
  }

}
@media (min-width: #{map-get($grid-breakpoints, lg)+1})  and (max-width: #{map-get($grid-breakpoints, xl)}) {
  html {
    font-size: #{map-get($responsive-font-sizes, xl)};
  }
  .landing-container > div {
    padding: 0 4rem;
  }
}
@media (min-width: #{map-get($grid-breakpoints, xl)+1}) {
  html {
    font-size: #{map-get($responsive-font-sizes, xl) + 2};
  }
  .landing-container > div {
    padding: 0 6rem;
  }
}