@charset "utf-8";

// Font import
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700);

// Library imports
@import "font-awesome";

// Normalize settings
@import "normalize";

$base-unit: 'rem';
$base-font-size: 24px;

$base-font-family: 'Source Sans Pro', sans-serif;
$h1-font-size: 1.2 * $base-font-size;

@include normalize();

// Grid settings
$grid-columns: 12;
$max-width: 800px;

@import "bourbon";
@import "neat";

// Styles
$black: #434343;
$white: rgba(255, 255, 255, 1);
$grey: #292c2f;
$light-grey: #a1a1a1;

$font-weight-light: 300;
$font-weight-bold: 700;
$line-height: 1.5;
$line-height-small: 1.2;

$ratio-divider: $line-height;

$spacer: 1em;
$spacer-small: $spacer / 2;

$navigation-height: 3em;
$transparent-white: rgba(255, 255, 255, 0.95);

$icon-link-size: 2em;
$icon-color: #33383b;

body {
  background-color: $grey;
  font-weight: $font-weight-light;
  line-height: $line-height;
  text-rendering: geometricPrecision;
  color: $black;
}

// Typography
h1, h2, h3, h4, h5, h6, p {
  margin: {
    top: 0;
    bottom: $spacer / 3;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
}


a {
  color: $black;
  white-space: nowrap;
}

// Utilities
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@media screen and (max-width: 450px) {
  .hidden-mobile {
    display: none;
  }
}

// Grid container (Add your container class)
.navigation, .content, .footer {
  @include outer-container;

  padding: {
    left: $spacer;
    right: $spacer;
  }
}

// Grid
.col-md-2 {
  @include span-columns(2);
}

.col-md-3 {
  @include span-columns(3);
}

.col-md-4 {
  @include span-columns(4);
}

.col-md-6 {
  @include span-columns(6);
}

.col-md-10 {
  @include span-columns(10);
}

.col-md-12 {
  @include span-columns(12);
}

// Navigation
.navigation-fixed {
  background-color: $transparent-white;
  position: fixed;
  width: 100%;
  top: 0;
}

.navigation {
  height: $navigation-height;

  a, label {
    vertical-align: middle;
    line-height: $navigation-height;
  }

  a {
    text-decoration: none;
  }

  small {
    font-size: $base-font-size / $ratio-divider;
    font-weight: $font-weight-bold;
  }

  label {
    cursor: pointer;
  }

  .navigation-menu {
    display: none;
    opacity: 0;
    color: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $grey;
    z-index: -1;
    overflow: auto;
    animation: fade-out 0.3s ease-out;

    ul {
      padding: {
        top: $navigation-height;
        bottom: 0;
        left: 0;
        right: 0;
      }
      margin: 0;
      text-align: center;
    }

    li {
      padding-bottom: $spacer;
    }

    a {
      color: $white;
      text-transform: capitalize;
      line-height: $line-height;
    }
  }

  input:not(:checked) + label {
    &::before {
      font-family: FontAwesome;
      content: "\f0c9";
    }
  }

  input:checked + label {
    color: $white;

    &::before {
      font-family: FontAwesome;
      content: "\f00d";
    }

    &+ .navigation-menu {
      display: block;
      opacity: 1;
      animation: fade-in 0.3s ease-in;
    }
  }
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  1% {
    display: none;
  }

  100% {
    opacity: 0;
  }
}

section {
  background-color: $white;
}

// Main content
.content {
  padding-top: $navigation-height + $spacer;
  padding-bottom: $spacer;

  a {
    &::after {
      font-family: FontAwesome;
      content: "\f08e";
      display: inline-block;
      padding-left: .3em;
      vertical-align: 0.6em;
      font-size: 0.5em;
    }
  }
}

footer {
  background-color: $grey;
  color: $white;
}

footer {
  ul, a {
    background-color: $grey;
    color: $white;

    a {
      text-transform: uppercase;
    }
  }

  a {
    text-decoration: none;
  }
}

.group {
  display: inline-block;
  margin-bottom: $spacer;
}

.footer {
  padding-top: $spacer;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;

    &::after {
      content: '·';
      margin: {
        left: $spacer-small;
        right: $spacer-small;
      }
    }

    &:last-child::after {
      content: '';
    }
  }

  p {
    margin: 0;
    line-height: $line-height-small;
  }
}

.icon {
  width: $icon-link-size;
  height: $icon-link-size;
  background: $icon-color;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: $icon-link-size;
  margin-left: $spacer-small
}

img {
  width: 100%;
}

.brands {
  display: inline-block;
  width: 100%;
}

.brand-image {
  @include span-columns(3);
  @include omega(4n);

  margin-bottom: $spacer;

  img {
    max-width: 150px;
  }
}

.news-date {
  float: right;
  text-transform: capitalize;
  color: $light-grey;
}
