@charset "utf-8";

// Font import
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

@import "application_and_bootstrap_variables.css.scss";

@import '../../bower_components/bootstrap/scss/bootstrap.scss';
@import '../../bower_components/font-awesome/scss/font-awesome.scss';
@import '../../bower_components/sass-pygments/styles/native.scss';

html {
  height: 100%;
  overflow: hidden;
}

body {
  font-weight: $font-weight-light;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.card-columns {
  -ms-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  -webkit-column-gap: 1.25rem;
  column-gap: 1.25rem;
}

@media (max-width: #{map-get($grid-breakpoints, xs) -1}) {
  html {
    font-size:  #{map-get($responsive-font-sizes, xs)}px;
  }
  .landing-container > div {
    padding: 0;
  }
  .card-columns {
    -ms-columns: 1 auto;
    -moz-columns: 1 auto;
    -webkit-columns: 1 auto;
    columns: 1 auto;
  }
}
@media (min-width: #{map-get($grid-breakpoints, xs)})  and (max-width: #{map-get($grid-breakpoints, sm) - 1}) {
  html {
    font-size:  #{map-get($responsive-font-sizes, xs)}px;
  }
  .landing-container > div {
    padding: 0 .5rem;
  }
  .card-columns {
    -ms-columns: 1 auto;
    -moz-columns: 1 auto;
    -webkit-columns: 1 auto;
    columns: 1 auto;
  }
  // Fix for iphone icon problem
  footer .col-xs-1 {
    flex: 0 0 2.1rem;
  }
}
@media (min-width: #{map-get($grid-breakpoints, sm)})  and (max-width: #{map-get($grid-breakpoints, md) - 1}) {
  html {
    font-size: #{map-get($responsive-font-sizes, sm)}px;
  }
  .landing-container > div {
    padding: 0rem;
  }
  div.action {
    margin-bottom: -4rem;
  }
  .card-columns {
    -ms-columns: 2 auto;
    -moz-columns: 2 auto;
    -webkit-columns: 2 auto;
    columns: 2 auto;
  }
}
@media (min-width: #{map-get($grid-breakpoints, md)})  and (max-width: #{map-get($grid-breakpoints, lg) - 1}) {
  html {
    font-size: #{map-get($responsive-font-sizes, md)}px;
  }
  .landing-container > div {
    padding: 0 2rem;
  }
  div.action {
    margin-bottom: -7rem;
  }
  .card-columns {
    -ms-columns: 2 auto;
    -moz-columns: 2 auto;
    -webkit-columns: 2 auto;
    columns: 2 auto;
  }
}
@media (min-width: #{map-get($grid-breakpoints, lg)})  and (max-width: #{map-get($grid-breakpoints, xl) - 1}) {
  html {
    font-size: #{map-get($responsive-font-sizes, xl)}px;
  }
  .landing-container > div {
    padding: 0 4rem;
  }
  div.action {
    margin-bottom: -8rem;
  }
  .card-columns {
    -ms-columns: 2 auto;
    -moz-columns: 2 auto;
    -webkit-columns: 2 auto;
    columns: 2 auto;
  }
}
@media (min-width: #{map-get($grid-breakpoints, xl)}) {
  html {
    font-size: #{map-get($responsive-font-sizes, xl) + 2}px;
  }
  .landing-container > div {
    padding: 0 6rem;
  }

  div.action {
    margin-bottom: -10rem;
  }
  .card-columns {
    -ms-columns: 3 auto;
    -moz-columns: 3 auto;
    -webkit-columns: 3 auto;
    columns: 3 auto;
  }
}


.content-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}


h1 {
  text-transform: uppercase;
}

h2 a {
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: $body-color;

  & + small {
    margin-right: $grid-gutter-width / 2;
    font-size: $font-size-sm;
    white-space: nowrap;
  }
}

p, small, a, ul {
  font-weight: $font-weight-light;
}

b, strong {
  font-weight: $font-weight-bold;
}

.breadcrumb {
  padding: 0;
  background-color: $white;
  font-size: $font-size-sm;
  -webkit-margin-after: $spacer / 2;
}
.testemonial {
    font-size: 1rem;
    border-left:0;
    padding: 0;
    font-style: italic;
    margin: 0 auto;
  }
  .credit {
    font-size: .8rem;
    padding:0;
  }
.hero-frame {
  
  img {
      max-width: 100%;
  }
  div.action {
    .card {
      background-color: #F9CB9C;
    }
    .card-header, .btn-primary {
      background-color: #FF9C00;
      color: #fff;
    }
    .btn-primary {
      width: 60%;
      border-color: #FF9C00;
    }
  }
  background-color: #B6D7A8;
  margin-left:0;
  margin-right:0;
}

.hero-sub {
  border: 1px solid #AAA;
  border-width: 1px 0;
  background-color: #94C67B;
  margin-left:0;
  margin-right:0;
  text-align: center;
}
.reinforce-statement, .closing-statement {
  border: 1px solid #333;
  background-color: #555;
  color: #EEE;
  padding: 1rem .2rem .4rem .2rem;
  div {
    padding-top: .7rem;
    padding-bottom: .5rem;
  }
  h3 {
    text-align: center;
  }
}
.reinforce-statement {
  margin: .3rem 0 2rem 0;
}
.closing-statement {
  h3 {
    text-align: center;
  }
  margin: .3rem 0 0 0;
  border-bottom: 1px solid #666;
}
.bullet {
  padding-left: 2rem;
  dd, dt {
    font-size: .9rem;
    margin-top: .3rem;
  }
  dd {
    margin-top: -1.4rem;
  }
  dt {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      margin-left: -2rem;
      margin-bottom: -.5rem;
      background-color: #AAA;
      color: #FFF;
      border: 1px solid black;
      border-radius: .75rem;
      text-align: center;
  }
}
table {
  @extend .table;
  @extend .table-sm;
  @extend .table-striped;
  font-size: $font-size-sm;
}

.content-container {
  padding-top: $navbar-height + 20;
}

.content-container-landing {
  padding-top: 0;
  .col-xs-12 {
    min-height:0;
  }
}

.content-container-after-hero {
  padding-top: 1rem;
}

.content {
  
  a {
    text-decoration: none;
  }

  blockquote {
    @extend .blockquote;
    font-size: $font-size-base;
  }
  .testemonial {
    font-size: .85rem;
    border-left:0;
    margin: .7rem 0 0 .7rem;
    padding: 0;
    font-style: italic;
  }
  .credit {
    font-size: .8rem;
    width: 40%;
    margin:0 auto .3rem auto;
    padding:0;
    text-align: right;
  }

  ul, ol {
    padding-left: $spacer;
  }

  img {
    max-width: 100%;
  }

  // Google Maps image
  .google-maps {
    width: 100%;
  }
  .cards-adaption {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    .m-x-1 {
      margin-left: 1rem !important;
      margin-right: 1rem !important;
      .card-block {
        padding-left: 0;
        padding-right: 0;
        .card-text {
          font-size: 0.8rem;
          line-height: 1.5;
        }
      }
    }
  }

}

.syntax {
  font-size: $font-size-sm;
  padding: $spacer;
}

// Navbar
.navbar {
  padding: {
    left: 0;
    right: 0;
  }

  a {
     text-decoration: none;
     &:hover {
       color: $white;
     }
   }
}

.navbar-nav {
  .nav-item {
    margin-right: $spacer;

    & + .nav-item {
      margin-left: 0;
    }
  }

  a {
    text-transform: uppercase;
  }
}

.bg-faded {
  background-color: $white;
}

.navbar-toggler {
  &:focus {
    outline: transparent;
  }

  padding: {
    left: 0;
    right: 0;
  }
}

.navbar-toggler-close {
  color: $white;
}

.navbar-brand {
  display: block;
  float: initial;
  margin-right: 0;
  font-weight: $font-weight-regular;
}

// Navigation open
.modal {
  li {
    width: 250px;
    margin: 0 auto;
  }

  a {
    display: block;
    color: $white;
    font-weight: $font-weight-light;
    text-decoration: none;
    padding: {
      top: $spacer-y / 2;
      bottom: $spacer-y / 2;
    }
  }
}

// footer
footer {
  display: table-row;
  height: 1px;

  .nav {
    display: inline-block;
    padding-bottom: $spacer;
  }

  .navbar-nav .nav-item {
    margin-right: $spacer-x;
  }

  .navbar-nav .nav-link {
    padding-bottom: 0;
  }

  li {
    &:last-child a::after {
      content: '';
    }

    a::after {
      margin-left: $spacer-x;
      content: '·';
    }
  }

  a, address {
    color: $white;
    font-size: $font-size-sm;
  }
}

.fa-icon-row {
  margin-bottom: $spacer;
}

.fa-icon {
  background-color: #33383b;
  color: $white;
  display: inline-block;
  height: $icon-size;
  width: $icon-size;
  line-height: $icon-size;
  text-align: center;

  & + .fa-icon {
    margin-left: $spacer-x;
  }
}

.img-brand {
  max-height: 90px;
}

.card {
  border: 0;
}

.card-text{
  margin-bottom: $spacer-y / 2;
  line-height: $line-height-sm;
}

.card-title {
  margin-bottom: 0;
}

.card-block {
  padding-top: $spacer / 2;
  padding-right: $spacer / 2;
  padding-left: $spacer;
  padding-bottom: $spacer / 2;
}
