<% data.people.advisors.each do |advisor| %>
  <div class="row">
    <div class="col-xs-12">
      <p>
        <h3>
          <%= advisor.name %>
        </h3>
        <%= advisor.title %>
        <br>
        <%= advisor.description %>
      </p>
    </div>
  </div>
<% end %>
