<div class="row m-b-1">
  <% collection.each do |brand| %>
    <div class="col-sm-3 col-xs-4 p-b-1">
      <%= image_tag "brands/#{collection_name}/#{brand.image}", alt: brand.name, class: 'img-fluid img-brand' %>
    </div>
  <% end %>
</div>
