<% if !defined?(display_articles) || display_articles > blog.articles.length %>
  <% display_articles = blog.articles.length %>
<% end %>

<% blog.articles[0..display_articles].each do |article| %>

  <div class="media">
    <div class="media-body">
      <h4 class="media-heading"><%= article.title %>
        <small class="text-muted"><%= article.date.strftime('%B %e, %Y') %></small>
      </h4>
      <%= article.summary %><%= link_to 'Read more', article %>
    </div>
  </div>
<% end %>
