<% if !defined?(display_articles) || display_articles > blog('news').articles.length %>
  <% display_articles = blog('news').articles.length %>
<% end %>

<% blog('news').articles[0..display_articles].each do |article| %>
<div class="col-sm-6 p-l-0">
  <div class="card card-block">
    <h4 class="card-title">
      <%= article.title %>
      <br/>
      <small class="text-muted"><%= article.date.strftime('%B %e, %Y') %></small>
    </h4>
    <p class="card-text m-b-0"><small><%= article.summary %></small></p>
    <div class="text-xs-right"><small><%= link_to 'Read more', article, class: 'card-link' %></small></div>
  </div>
</div>
<% end %>
