<% if !defined?(display_articles) || display_articles > blog.articles.length %>
  <% display_articles = blog.articles.length %>
<% end %>

<% blog.articles[0..display_articles].each do |article| %>
<div class="card card-block text-xs-left">
  <h4 class="card-title"><%= article.title %><br/><small class="text-muted"><%= article.date.strftime('%B %e, %Y') %></small></h4>
  <%= article.summary %>
  <a href="#" class="card-link">Read more</a>
</div>
<% end %>

more news here ...
