<% if !defined?(display_articles) || display_articles > blog.articles.length %>
  <% display_articles = blog.articles.length %>
<% end %>

<% blog.articles[0..display_articles].each do |article| %>
  <h3 class="m-b-0">
    <%= article.title %>
  </h3>
  <p class="m-b-0">
    <small class="text-muted"><%= article.date.strftime('%B %e, %Y') %></small>
  </p>
  <p>
    <%= article.summary %>
    <%= link_to 'Read more', article %>
  </p>
<% end %>
