<% if !defined?(display_articles) || display_articles > blog.articles.length %>
  <% display_articles = blog.articles.length %>
<% end %>

<% blog.articles[0..display_articles].each do |article| %>
<div class="card card-block text-xs-left p-l-0">
  <h4 class="card-title">
    <%= article.title %><br/>
    <small class="text-muted"><%= article.date.strftime('%B %e, %Y') %></small>
  </h4>
  <p class="card-text m-b-0"><small><%= article.summary %></small></p>
  <div class="text-xs-right"><small><%= link_to 'Read more', article, class: 'card-link' %></small></div>
</div>
<% end %>

more news here ...
