<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<form action="http://4quant.us12.list-manage.com/subscribe/post" method="POST">
		<input type="hidden" name="u" value="87fbddd41af58f10d4820394c">
		<input type="hidden" name="id" value="e1b453bfd5">
		<div id="mergeTable" class="mergeTable">
			<div class="mergeRow dojoDndItem mergeRow-email" id="mergeRow-0">
				<label for="MERGE0">Email Address <span class="req asterisk">*</span></label>
				<div class="field-group">
					<input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="">
				</div>
			</div>
			<div class="mergeRow dojoDndItem mergeRow-text" id="mergeRow-3">
				<label for="MERGE3">Your area of interest</label>
				<div class="field-group">
					<input type="text" name="MERGE3" id="MERGE3" size="25" value="">
				</div>
			</div>
		</div>
		<div class="mergeRow">
			<label>Preferred format</label>
			<div class="field-group groups">
				<div class="interestgroup_field radio-group">
					<label class="radio" for="EMAILTYPE_HTML"><input type="radio" name="EMAILTYPE" id="EMAILTYPE_HTML" value="html" checked=""><span>HTML</span></label>
					<label class="radio" for="EMAILTYPE_TEXT"><input type="radio" name="EMAILTYPE" id="EMAILTYPE_TEXT" value="text"><span>Plain-text</span></label>
				</div>
			</div>
		</div>
		<!-- real people should not fill this in and expect good things -->
		<div class="hidden-from-view" aria-hidden="true"><input type="text" name="b_87fbddd41af58f10d4820394c_e1b453bfd5" tabindex="-1" value=""></div>
		<div class="submit_container clear">
			<input type="submit" class="button" name="submit" value="Subscribe to list">
		</div>
	</form>
	</div>
</div>   