<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <div class="container">
    <div class="row">
      <div class="col-xs-2">
        <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#mainNavigation">
          <span aria-hidden="true">&#9776;</span>
        </button>
      </div>
      <div class="col-xs-8 text-xs-center">
        <% link_to '/', class: 'navbar-brand' do %>
          <strong><%= data.site.company.project_name[0..-1] %></strong>
        <% end %>
      </div>
      <div class="col-xs-2">
      </div>
    </div>
  </div>
</nav>

<nav id="mainNavigation" class="modal fade">
  <div class="navbar">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <button class="navbar-toggler navbar-toggler-close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&#10005;</span>
          </button>
        </div>
      </div>
    </div>

    <div class="row" id="nav-active-modal">
      <div class="col-xs-12">
        <ul class="list-unstyled text-xs-center nav navbar-nav">
          <%= navigation_list(data.site.main_navigation, li_class: "") %>
        </ul>
      </div>
    </div>
  </div>
</nav>
