<header class="navigation-fixed">
  <nav class="navigation">
    <div class="third">
      <input id="menu" type="checkbox" aria-label="Menu" hidden>
      <label for="menu">
      </label>
      <div class="navigation-menu">
        <ul>
          <%= navigation_list(data.site.main_navigation) %>
          <%= navigation_list(data.site.service_navigation) %>
        </ul>
      </div>
    </div>
    <div class="third text-center">
      <% link_to '/' do %>
        <strong><%= data.site.company.short_name %></strong>
      <% end %>
    </div>
    <div class="third text-right hidden-mobile">
      <% link_to '/' do %>
        <small><%= data.site.company.claim.upcase %></small>
      <% end %>
    </div>
  </nav>
</header>
