<header class="navigation-fixed">
  <nav class="navigation">
    <div class="third">
      <button type="button" aria-label="Menu">
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <div class="third text-center">
      <a href="/"><strong><%= data.site.company.short_name %></strong></a>
    </div>
    <div class="third text-right hidden-mobile">
      <a href="/"><small><%= data.site.company.claim.upcase %></small></a>
    </div>
  </nav>
</header>
