<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#mainNavigation">
          <span aria-hidden="true">&#9776;</span>
        </button>
      </div>
      <div class="col-xs-6 text-xs-center">
        <% link_to '/', class: 'navbar-brand' do %>
          <strong><%= data.site.company.short_name[0..1] %></strong><%= data.site.company.short_name[2..-1] %>
          <span class="text-muted text-uppercase hidden-xs-down "> | </span>
          <span class="small text-muted text-uppercase text-nowrap hidden-xs-down"><%= data.site.company.claim %></span>
        <% end %>
      </div>
      <div class="col-xs-3">
      </div>
    </div>
  </div>
</nav>

<nav id="mainNavigation" class="modal fade">
  <div class="navbar">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <button class="navbar-toggler navbar-toggler-close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&#10005;</span>
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <ul class="list-unstyled text-xs-center nav navbar-nav">
          <%= navigation_list(data.site.main_navigation, li_class: "") %>
        </ul>
      </div>
    </div>
  </div>
</nav>
