<% if !defined?(display_slides) || display_slides > slides.articles.length %>
  <% display_slides = slides.articles.length %>
<% end %>

<% slides.articles[0..display_slides].each do |article| %>
<div class="card card-block text-xs-left p-l-0">
  <h2 class="card-title">
    <a href="<%= article.url %>"><%= article.title %></a>
    <br/>
  </h2>
  <%= link_to 'Show Slide', article, class: 'card-link', target: '_blank' %>
</div>
<% end %>
