<div class="row m-b-1">
<% data.people.team.each do |member| %>
  <div class="col-xs-4 col-sm-2 p-r-0">
    <%= image_tag "people/#{member.name.split(' ').join('-').downcase}.png", alt: member.name, class: 'img-fluid m-b-1 img-rounded' %>
  </div>
  <div class="col-xs-8 col-sm-4 p-x-0">
    <div class="card-block p-t-0">
      <h3 class="card-title">
        <% if member.doctor %>
          Dr.
        <% end %>
        <%= member.name %>
        <div class="text-muted"><%= member.title %></div>
      </h3>
      <p class="card-text"><%= member.description %></p>
    </div>
  </div>
<% end %>
</div>
