<% data.people.team.each do |member| %>
  <div class="row m-b-1">
    <div class="col-xs-12 col-sm-3">
      <%= image_tag "people/#{member.name.split(' ').join('-').downcase}.png", alt: member.name, class: 'img-fluid' %>
    </div>

    <div class="col-xs-12 col-sm-9">
        <h3>
          <% if member.doctor %>
            Dr.
          <% end %>
          <%= member.name %>
        </h3>
        <p>
        <%= member.title %>
        <br>
        <%= member.description %>
        </p>
    </div>
  </div>
<% end %>
