---
title: "Chat"
---
<div class="chat" id="chat-window">
    <div class="chat-text">
    </div>
    <div class="type-write">
        <div class="frame">
            <div id="type-write"></div>
        </div>
    </div>
</div>