---
title: "Chat"
---
<div class="chat">
    <div class="bubble you">
        <div>
            my example test text
        </div>
    </div>
    <div class="bubble me">
        <div>
            another text
        </div>
    </div>
    <div class="bubble you">
        <div>
            another text first
        </div>
    </div>
    <div class="bubble me">
        <div>
            jajajaja hallo=?aklsdjf/laskdjf/lasdkjf as/ldkjf a/lsdkfj /laskdj f/laskdjf /laskdjf /laksdjf l/asdkjf /laskdj f
        </div>
    </div>
    <div class="type-write">
        hier wird geschreibselt
    </div>
</div>