---
title: "Home"
---
<div class="jumbotron jumbotron-fluid text-xs-center p-b-1">
<h1>
  Lightning fast Geoimaging Analytics for informed business decisions
</h1>
<p class="lead">
  4Quant solutions provide insightful information from big data satellite and aerial imagery in a split second
</p>
</div>
</div></div></div>

<div class="landing-container">
<div class="row hero-frame p-b-3">
<div class="col-md-6 col-sm-6 col-xs-12 center-block m-t-2">
<img src="https://twistedsifter.files.wordpress.com/2015/02/arc-de-triomphe.jpg?w=1024&h=1024" alt="placeholder" class="image-fluid img-rounded center-block">
</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 center-block m-t-2 action">
<div class="card">
<div class="card-header">
<h4>
  Get in Touch
</h4>
</div>
<div class="card-block">
<p class="card-text">
  <small>Please reach out to us with your questions, requests for further information and requests for demonstrators. Our friendly team is happy to engage with you.</small>
</p>
<form action="http://mailthis.to/fat4q" method="post">
<div class="input-group input-group-sm m-t-1">
<span class="input-group-addon" id="addon-email"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
<input type="email" name="email" id="name" class="form-control" placeholder="Your Email" aria-describedby="email">
<input type="hidden" name="_replyto" value="%email">
<input type="text" name="_honey" value="" class="form-honey">
<input type="hidden" name="_subject" value="4QuantSatImg contact form">
</div>
<div class="input-group input-group-sm m-t-1">
    <span class="input-group-addon" id="addon-reason"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></span>
    <textarea class="form-control" name="message" id="ReasonOfContact" rows="3" placeholder="Your Message …"></textarea>
</div>
<div class="input-group input-group-sm contact-form-send">
<button type="submit" class="btn btn-primary btn-sm">Send</button>
</div>
</form>
<p><small><em>Your data will not be shared with third parties.</em></small></p>
</div>
</div>
</div>
</div>
<div class="row hero-sub">
 



<div id="testemonial-carousel-one" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <blockquote class="testemonial row">
          <span class="testemonial-img col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <img src="/images/landing/ExamplePortraitQuote.jpeg" alt="Portrait" class="img-circle">
          </span>
          <span class="testemonial-text col-xs-12 col-sm-9 col-md-9 col-lg-9 col-xl-9">
            <span class="testemonial-quote">
              Lorem ipsum Aliquip occaecat laboris dolor tempor id ut sed anim Duis voluptate nisi laborum deserunt sed aliquip est irure commodo Duis incididunt dolor fugiat dolor nulla eu.
            </span>
            <span class="credit">
              Jane hoa, Nowhere Ltd.
            </span>
          </span>
      </blockquote>
    </div>
    <div class="carousel-item">
      <blockquote class="testemonial row">
          <span class="testemonial-img col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <img src="/images/landing/ExamplePortraitQuote.jpeg" alt="Portrait" class="img-circle">
          </span>
          <span class="testemonial-text col-xs-12 col-sm-9 col-md-9 col-lg-9 col-xl-9">
            <span class="testemonial-quote">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </span>
            <span class="credit">
              Jane foa, Nowhere Ltd.
            </span>
          </span>
      </blockquote>
    </div>
    <div class="carousel-item">
      <blockquote class="testemonial row">
          <span class="testemonial-img col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <img src="/images/landing/ExamplePortraitQuote.jpeg" alt="Portrait" class="img-circle">
          </span>
          <span class="testemonial-text col-xs-12 col-sm-9 col-md-9 col-lg-9 col-xl-9">
            <span class="testemonial-quote">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </span>
            <span class="credit">
              Jane foa, Nowhere Ltd.
            </span>
          </span>
      </blockquote>
    </div>
  </div>
</div>



</div>
</div>


<div class="content-container container content-container-after-hero">
<div class="row content">
<div class="col-xs-12">

<div class="content-section">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
<p class="induct-content">
  We enable companies accessing the full potential of your in-house imagery, blended with arbitrary structured and unstructured information.
  We provide the technology for high-throughput, adaptive image analysis, opening up totally new and lately unaccessible business opportunities.
  We value your data as much as our own, thus data security and safety is the foundation of our core technology. 
</p>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
<dl class="bullet">
<dt>1</dt>
<dd>
  Realize efficiency disruption in operative business processes by seamlessly integrating image and video analytics.
</dd>
<dt>2</dt>
<dd>
  Create novel business models and develop better value for your customers by processing image data with unprecedented speed and intelligence.
</dd>
<dt>3</dt>
<dd>
  Combine most secure processing and storage of your and your client’s data with state of the art flexibility in data access and utilization.
</dd>
</dl>
</div>

<div id="testemonial-carousel-two" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <blockquote class="testemonial row">
          <span class="testemonial-img col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <img src="/images/landing/ExamplePortraitQuote.jpeg" alt="Portrait" class="img-circle">
          </span>
          <span class="testemonial-text col-xs-12 col-sm-9 col-md-9 col-lg-9 col-xl-9">
            <span class="testemonial-quote">
              Lorem ipsum Aliquip occaecat laboris dolor tempor id ut sed anim Duis voluptate nisi laborum deserunt sed aliquip est irure commodo Duis incididunt dolor fugiat dolor nulla eu.
            </span>
            <span class="credit">
              Jane hoa, Nowhere Ltd.
            </span>
          </span>
      </blockquote>
    </div>
    <div class="carousel-item">
      <blockquote class="testemonial row">
          <span class="testemonial-img col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <img src="/images/landing/ExamplePortraitQuote.jpeg" alt="Portrait" class="img-circle">
          </span>
          <span class="testemonial-text col-xs-12 col-sm-9 col-md-9 col-lg-9 col-xl-9">
            <span class="testemonial-quote">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </span>
            <span class="credit">
              Jane foa, Nowhere Ltd.
            </span>
          </span>
      </blockquote>
    </div>
    <div class="carousel-item">
      <blockquote class="testemonial row">
          <span class="testemonial-img col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <img src="/images/landing/ExamplePortraitQuote.jpeg" alt="Portrait" class="img-circle">
          </span>
          <span class="testemonial-text col-xs-12 col-sm-9 col-md-9 col-lg-9 col-xl-9">
            <span class="testemonial-quote">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </span>
            <span class="credit">
              Jane foa, Nowhere Ltd.
            </span>
          </span>
      </blockquote>
    </div>
  </div>
</div>

</div>
</div>
</div></div></div>

<div class="landing-container">
<div class="row reinforce-statement text-md-left text-sm-left text-xs-center">
<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">


<h3>
  Real time big geoimage analytics supports vast efficiency gains and enables completely new business models.
</h3>
</div>
</div>
</div>


<div class="content-container container content-container-landing">
<div class="row content">
<div class="col-xs-12">

<div class="content-section">
<div class="card-deck-wrapper cards-adaption">
<div class="card-deck">
<div class="card m-x-1">
<img class="card-img-top img-fluid" src="/images/landing/stock-photo-financial-data-on-a-monitor-170035160.jpg" alt="Card image cap">
<div class="card-block">
<a href="bigImageDataTechnology.html"><h4 class="card-title">
  Big image data technology
</h4></a>
<p class="card-text">
  Our image query and analysis engine provides access to arbitrarily scalable storage and processing infrastructure for any kind of geoimage information. Our proprietary image query language allows segmentation of dynamic features in aerial and satellite images with unprecedented speed, allowing for both, batch processing of huge image datasets and real-time video analysis.
</p>
<p class="card-text">
<span class="text-muted">
<a href="bigImageDataTechnology.html">Learn more...</a>
</span>
</p>
</div>
</div>
<div class="card m-x-1">
<img class="card-img-top img-fluid" src="/images/landing/stock-photo-cg-aerial-shot-of-container-ship-in-ocean-336054269.jpg" alt="Card image cap">
<div class="card-block">
<a href="universalAnalyticsAccess.html"><h4 class="card-title">
  Universal access to focused analytics
</h4></a>
<p class="card-text">
  Our goal is to make every industry benefit from geoimagery information. To this end, we make access to analytics as easy as possible and our algorithms as specialized as needed to provide our clients with a competitive edge through geoimage analysis.
</p>
<p class="card-text"><span class="text-muted">
<a href="universalAnalyticsAccess.html">Learn more...</a>
</span></p>
</div>
</div>
</div>
<div class="card-deck">
<div class="card m-x-1">
<img class="card-img-top img-fluid" src="/images/landing/TradeSurveillance.jpg" alt="Card image cap">
<div class="card-block">
<a href="cyberSecurityFocus.html"><h4 class="card-title">
  Two eyes on Cyber Security
</h4></a>
<p class="card-text">
  With our extensive experience in handling sensitive patient data, we developed the 4Quant SecureImageData® Framework, applicable to image analysis challenges in any industry. Our approach effectively separates sensitive from uncritical information and tracks any data transactions for full auditability of operations.
</p>
<p class="card-text"><span class="text-muted">
<a href="cyberSecurityFocus.html">Learn more...</a>
</span></p>
</div>
</div>
<div class="card m-x-1">
<img class="card-img-top img-fluid" src="/images/landing/InsurerAssetAllocation1.jpg" alt="Card image cap">
<div class="card-block">
<a href="insurerAssetAllocation.html"><h4 class="card-title">
  Insurance asset allocation
</h4></a>
<p class="card-text">
  This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
</p>
<p class="card-text">
<span class="text-muted">
<a href="insurerAssetAllocation.html">Learn more...</a>
</span>
</p>
</div>
</div>
</div>
<div class="card-deck">
<div class="card m-x-1">
<img class="card-img-top img-fluid" src="/images/landing/TradeSurveillance.jpg" alt="Card image cap" />
<div class="card-block">
<a href="globalTradeSurveillance.html"><h4 class="card-title">
  Global trade surveillance
</h4></a>
<p class="card-text">
  Use high-resolution satellite images to follow shipping routes for both real-time scheduling information and trade fraud prevention.
</p>
<p class="card-text">
<span class="text-muted">
<a href="globalTradeSurveillance.html">Learn more...</a>
</span>
</p>
</div>
</div>
<div class="card m-x-1">
<img class="card-img-top img-fluid" src="/images/landing/CatBondValution.jpg" alt="Card image cap" />
<div class="card-block">
<a href="catBondValuation.html"><h4 class="card-title">
  CAT bond valuation

</h4>  </a>
<p class="card-text">
  Real-time severe weather analytics supports the valuation of weather-bound catastrophe bonds and thus the market expansion for insurance risk hedging.
</p>
<p class="card-text">
<span class="text-muted">
<a href="catBondValuation.html">Learn more...</a>
</span>
</p>
</div>
</div>
</div>
</div>
</div>

</div></div></div>

<div class="landing-container">

<div class="row closing-statement text-md-left text-sm-left text-xs-center">
<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-xl-12">
<h3>
  Request a demo of our analytics capabilities for your own, specialized application.
</h3>
</div>
</div>

</div>
<div class="content-container container content-container-landing">
<div class="row content">
<div class="col-xs-12">