---
title: "Home"
---
<div class="jumbotron jumbotron-fluid text-xs-center p-b-1">
  <h1 class="display-5">Headline that matches what was clicked</h1>
  <p class="lead">A supporting subheader to provide extra information</p>
  <div class="row bg-info  p-b-3 p-t-3">
    <div class="col-sm-4 col-sm-push-1">
      <img src="http://placehold.it/550x300" alt="placeholder" class="image-fluid">
    </div>
    <div class="col-sm-3 col-sm-push-4">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <h6 class="card-subtitle text-muted">Support card subtitle</h6>
        </div>
        <img src="http://placehold.it/250x50" alt="Card image" class="image-fluid">
        <div class="card-block">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-section">
  <div class="container p-x-0">
    <div class="row p-t-2">
      <div class="col-sm-12">
        <h2>Large scale image analytics</h2>
        <p>We offer cloud-compatible, large-scale image analytics solutions for data-driven medicine, evidence-based oncology care and industry 4.0 needs. You benefit from unlimited, elastic scalability without any investment in your own IT infrastructure or personnel.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 p-l-0">
        <div class="card card-block">
          <h4 class="card-title">Radiology</h4>
          <p class="card-text m-b-0"><small>With supporting text below as a natural lead-in to additional content.</small></p>
          <div class="text-xs-right"><small><a href="#" class="card-link">Read more</a></small></div>
        </div>
      </div>
      <div class="col-sm-6 p-l-0">
        <div class="card card-block ">
          <h4 class="card-title">Geoimaging</h4>
          <p class="card-text m-b-0"><small>With supporting text below as a natural lead-in to additional content.</small></p>
          <div class="text-xs-right"><small><a href="#" class="card-link">Read more</a></small></div>
        </div>
      </div>
    </div>
    <div class="row p-b-2">
      <div class="col-sm-6 p-l-0">
        <div class="card card-block ">
          <h4 class="card-title">3-D</h4>
          <p class="card-text m-b-0"><small>With supporting text below as a natural lead-in to additional content.</small></p>
          <div class="text-xs-right"><small><a href="#" class="card-link">Read more</a></small></div>
        </div>
      </div>
      <div class="col-sm-6 p-l-0">
        <div class="card card-block ">
          <h4 class="card-title m-b-0">Industry 4.0</h4>
          <p class="card-text"><small>With supporting text below as a natural lead-in to additional content.</small></p>
          <div class="text-xs-right"><small><a href="#" class="card-link">Read more</a></small></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-section">
  <div class="container p-x-0">
    <div class="row p-y-2">
      <div class="col-sm-12">
        <div class="clearfix"></div>
        <h2>Deep learning, bla, quantitative analysis</h2>
        <p>Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to download some of their awesome, free photoshop actions!</p>
      </div>
    </div>
  </div>
</div>
<div class="content-section">
  <div class="container p-x-0">
    <div class="row p-y-2">
      <div class="col-sm-6">
        <div class="clearfix"></div>
        <blockquote class="blockquote">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    </div>
    <div class="col-sm-6">
      <div class="clearfix"></div>
      <blockquote class="blockquote">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>
</div>
</div>
<div class="content-section">
<div class="container p-x-0">
<div class="row p-t-2">
  <div class="col-sm-12">
    <div class="clearfix"></div>
    <p>unsere treuen kunden und partner bla bla </p>
  </div>
</div>
<div class="row p-b-2">
  <% data.brands.customers.each do |brand| %>
  <div class="col-sm-3 col-xs-4 p-b-1">
    <%= image_tag "brands/customers/#{brand.image}", alt: brand.name, class: 'img-rounded img-fluid' %>
  </div>
  <% end %>
</div>
</div>
</div>
<div class="content-section">
<div class="container p-x-0">
<div class="row p-t-2">
  <div class="col-sm-12">
    <h2>News</h2>
    <p>News bla bla bla</p>
  </div>
</div>
<div class="row">
  <%= partial 'partials/last_news', locals: { display_articles: 3 }  %>
</div>
</div>
</div>