---
title: "Home"
---

 <div class="jumbotron jumbotron-fluid p-b-1 m-b-1">
    <div class="container">
      <h1 class="display-3">Exploit the full potential of your image and video data</h1>
        <p class="lead">We analyze your tera- and petabytes of image and video data for your customer advantage and monetization.</p>
        <div class="row">
           <div class="col-sm-6 p-b-1">
             <a class="btn btn-primary" href="contact.html" role="button">Contact us for a live demo</a>
           </div>
           <div class="col-sm-6">
             <a class="btn btn-secondary" href="solutions.html" role="button">Check out our solutions</a>
           </div>
         </div>
    </div>
</div>

<!--We offer cloud-compatible, [large-scale image analytics solutions](solutions.html) for data-driven medicine, evidence-based oncology care and industry 4.0 needs. You benefit from unlimited, elastic scalability without any investment in your own IT infrastructure or personnel.-->

<div>
  <div class="container">
    <h1>Large scale image analytics</h1>
    <p class="lead">
      We offer cloud-compatible, large-scale image analytics solutions for data-driven medicine, evidence-based oncology care and industry 4.0 needs. You benefit from unlimited, elastic scalability without any investment in your own IT infrastructure or personnel.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card card-block">
      <h3 class="card-title">Radiology</h3>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="card-link">Read more</a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-block">
      <h3 class="card-title">Geoimaging</h3>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="card-link">Read more</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card card-block">
      <h3 class="card-title">Industry 4.0</h3>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="card-link">Read more</a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-block">
      <h3 class="card-title">Geoimaging</h3>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="card-link">Read more</a>
    </div>
  </div>
</div>

<blockquote>
    "I'm looking forward to this year's reunion and catching up with everyone."
    <small>Michael Tyson</small>
</blockquote>

<blockquote class="blockquote-reverse">
    "I'm looking forward to this year's reunion and catching up with everyone."
    <small>Michael Tyson</small>
</blockquote>

## News
<div class="container">
<%= partial 'partials/last_news', locals: { display_articles: 3 }  %>
<div>
