---
title: "Home"
---

 <div class="jumbotron jumbotron-fluid text-xs-center p-b-1">
    <div class="container">
      <h1 class="display-3">Exploit the full potential of your image and video data</h1>
      <p class="lead p-t-1 p-b-1">We analyze your tera- and petabytes of image and video data for your customer advantage and monetization.</p>
      <div class="row text-xs-center">
         <div class="col-sm-6 p-b-1 center-block">
           <a class="btn btn-primary" href="contact.html" role="button">Contact us for a live demo</a>
         </div>
         <div class="col-sm-6 center-block">
           <a class="btn btn-secondary" href="solutions.html" role="button">Check out our solutions</a>
         </div>
       </div>
    </div>
</div>

<div class="content-section">
     <div class="container">
         <div class="row p-t-2">
             <div class="col-sm-12">
                 <h2>Large scale image analytics</h2>
                 <p>We offer cloud-compatible, large-scale image analytics solutions for data-driven medicine, evidence-based oncology care and industry 4.0 needs. You benefit from unlimited, elastic scalability without any investment in your own IT infrastructure or personnel.</p>
             </div>
         </div>
         <div class="row">
           <div class="col-sm-6">
             <div class="card card-block">
               <h3 class="card-title">Radiology</h3>
               <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
               <a href="#" class="card-link">Read more</a>
             </div>
           </div>
           <div class="col-sm-6">
             <div class="card card-block">
               <h3 class="card-title">Geoimaging</h3>
               <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
               <a href="#" class="card-link">Read more</a>
             </div>
           </div>
         </div>
         <div class="row p-b-2">
           <div class="col-sm-6">
             <div class="card card-block">
               <h3 class="card-title">Industry 4.0</h3>
               <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
               <a href="#" class="card-link">Read more</a>
             </div>
           </div>
           <div class="col-sm-6">
             <div class="card card-block">
               <h3 class="card-title">Geoimaging</h3>
               <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
               <a href="#" class="card-link">Read more</a>
             </div>
           </div>
         </div>
     </div>
 </div>

<div class="content-section">
  <div class="container">
    <div class="row p-y-2">
      <div class="col-sm-12">
        <div class="clearfix"></div>
        <h2>Deep learning, bla, quantitative analysis</h2>
        <p>Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to download some of their awesome, free photoshop actions!</p>
      </div>
    </div>
  </div>
</div>

<div class="content-section">
  <div class="container">
    <div class="row p-y-2">
      <div class="col-sm-6">
        <div class="clearfix"></div>
        <blockquote class="blockquote">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
      </div>
      <div class="col-sm-6">
        <div class="clearfix"></div>
        <blockquote class="blockquote">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
          <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<div class="content-section">
  <div class="container">
    <div class="row p-t-2">
      <div class="col-sm-12">
        <div class="clearfix"></div>
        <p>unsere treuen kunden und partner bla bla </p>
      </div>
    </div>
    <div class="row p-b-2">
      <div class="col-sm-3"><img src="images/brands/customers/universitatsspital-basel.png" class="img-rounded img-fluid"></div>
      <div class="col-sm-3"><img src="images/brands/customers/universitatsspital-basel.png" class="img-rounded img-fluid"></div>
      <div class="col-sm-3"><img src="images/brands/customers/universitatsspital-basel.png" class="img-rounded img-fluid"></div>
      <div class="col-sm-3"><img src="images/brands/customers/universitatsspital-basel.png" class="img-rounded img-fluid"></div>
    </div>
  </div>
</div>

<div class="content-section">
  <div class="container">
    <div class="row p-y-2">
      <div class="col-sm-12">
        <div class="clearfix"></div>
        <h2 class="section-heading">News</h2>
        <p>stay up to date... get informed via mailing list. More news in our news section bla.</p>
        <%= partial 'partials/last_news', locals: { display_articles: 3 }  %>
      </div>
    </div>
  </div>
</div>
